.sessao{
    width: 100%;
    height: auto;
    padding: 4%;
}

.horarios{
    width: auto;
    height: auto;
    display: flex;
    margin: 3vh 0;
    flex-wrap: wrap;
}

.hora{
    width: 22vw;
    height: 5vh;
    background-color: #E8833A;
    border-radius: 3px;
    margin: 2vw 2vw 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.hora p{
    color: #ffffff;
    font-size: 14px;
}

.hora:active{
    transform: scale(0.9);
}
