/*font-family: 'Recursive', sans-serif;

font-family: 'Roboto', sans-serif;*/
p {
    font-family: 'Roboto', sans-serif;  
}

a {
    text-decoration: none;
}
.telaPrincipal{
    width: 100vw;
    height: auto;
    margin-top: 9vh;
    margin-bottom: 14vh;   
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #247A6B;
    text-align: center;
}

.escolha{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escolha p{
    color: #293845;
    font-size: 24px;
}

.conteudo{
    width: 90vw;
    height: 500px;
    margin: 0 auto;
}


.rodape{
    width: 100%;
    height: 14vh;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 2% 4%;
    border: 1px solid #9EADBA;
}

.posterInfo{
    height: 100%;
    width: 17%;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1%

}
.posterInfo img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.informacoes p{
    font-size: 20px;
    color: #293845;
    font-weight: 400;
    margin: 6% 0;
}

